<a class="doc active" data-url="docHML/dev_index.html" data-index="1">
    首页
</a>
<ul class="menu-1">
    <li class="">
        <a class="menu-title"><span></span>平台概述</a>
        <ul class="menu-2" style="display: none; overflow: hidden;">
            <li class="doc"  data-index="2">平台介绍</li>
            <li class="doc"  data-index="3">新手指引</li>
            <li class="doc"  data-index="4">平台协议</li>
        </ul>
    </li>
    <li class="">
        <a class="menu-title"><span></span>移动应用接入</a>
        <ul class="menu-2" style="display: none; overflow: hidden;">
            <li class="doc"  data-index="5">概述</li>
            <li class="doc"  data-index="6">接入指南</li>
            <li>
                <a class="menu-title"> Android SDK 集成 </a>
                <ul class="menu-3" style="display: none;">
                    <li class="doc"  data-index="16">环境配置</li>
                    <li class="doc"  data-index="9">详细使用说明</li>
                </ul>
            </li>
            <li>
                <a class="menu-title"> IOS SDK 集成 </a>
                <ul class="menu-3" style="display: none;">
                    <li class="doc"  data-index="17">环境配置</li>
                    <li class="doc"  data-index="10">详细使用说明</li>
                </ul>
            </li>
            <li class="doc"  data-index="11">SDK 下载及更新</li>
        </ul>
    </li>
    <li class="">
        <a class="menu-title"><span></span>API接口</a>
        <ul class="menu-2" style="display: none; overflow: hidden;">
            <li class="doc"  data-index="12">服务接口</li>
            <li class="doc"  data-index="22">接口更新日志</li>
        </ul>
    </li>
    <li>
        <a class="menu-title"><span></span>数据推送</a>
        <ul class="menu-2" style="display: none;">
            <li class="doc"  data-index="26">接入概述</li>
            <li class="doc"  data-index="27">推送数据处理流程</li>
        </ul>
    </li>
    <li class="">
        <a class="menu-title"><span></span>开发文档</a>
        <ul class="menu-2" style="display: none; overflow: hidden;">
            <li class="doc"  data-index="7">OAuth 2.0用户授权</li>
            <li class="doc"  data-index="18">服务器配置</li>
            <li class="doc"  data-index="20">通用签名生成规则</li>
            <li class="doc"  data-index="19">返回状态码说明</li>
        </ul>
    </li>
    <li>
        <a class="doc"  data-index="8">平台公告</a>
    </li>
    <li>
        <a class="doc"  data-index="14">常见问题</a>
    </li>
    <li>
        <a class="doc"  data-index="15">联系我们</a>
    </li>
</ul>